<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui" 
      
      >
      
    <h:head>
        
    	<link rel="StyleSheet" type="text/css" href="css/style.css" media="screen" />
        
        
    </h:head>
    
<h:body>
	
<div align="center"> 
	    <h:form id="form">
	    				
	    	<br></br>
			<br></br>	
	    				
	    	<h:inputText value="#{controller.teste}"/>	

		
			<b:commandButton action="#{controller.mostraNaTela(controller.teste)}" update="form"  value="Testar" styleClass="btn btn-primary dt-buttons btn-group"/>	
			
			<br></br>
			<br></br>
			
			<h:outputText value="#{controller.teste}"/>
			
		</h:form>
</div>
</h:body>
</html>