<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    	
      
    <h:head>
        
    	<link rel="StyleSheet" type="text/css" href="css/style.css" media="screen" />
        
        
    </h:head>
    
<h:body>
	
<div align="center"> 
	    <h:form id="form">
	    			
	    	<br></br>
			<br></br>	
	    	<h:inputText value="#{controller.teste}"/>	

		
			<p:commandButton action="#{controller.mostraNaTela(controller.teste)}" update="form"  value="Testar" styleClass="btn btn-primary dt-buttons btn-group"/>	
			
			<br></br>
			<br></br>
			
			<h:outputText value="#{controller.teste}"/>
			
		</h:form>
</div>
</h:body>
</html>